[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "ArduinoCore-avr"]
	path = ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
